* {
    margin: 0;
    padding: 0;

    /*---=| Fonte Padrão |=---*/
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}

/*-----===| MAIN |===-----*/
/*---=| DISPLAY FLEX |=---*/
main,
.main-banner-container,
.banner-image-container,
.banner-text-container,
.banner-text-title,
#ecoshield-charts-container,
.charts-chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;

    top: 0px !important;
}

/*-| Video |-*/
.main-banner-container {
    height: 90vh;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;

    & .banner-image-container {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgb(2, 0, 36);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 90%, rgba(255, 255, 255, 0.80) 95%, rgba(255, 255, 255, 1) 100%);
            z-index: 0;
        }

        & video {
            height: 100%;
            width: 100%;
            object-fit: cover;

        }
    }
}

/*-| Texto |-*/
.banner-text-container {
    width: 90%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    transform: translateY(-100%);
}

.banner-text-title {
    width: 80%;
    align-items: flex-end;
    font-size: 80px;
    font-weight: 700;
}

.banner-text-title span {
    text-align: center;
}

/*---=| EcoShield Charts |=---*/
#ecoshield-charts-container {
    height: 60vh;
    width: 100%;
}

.charts-chart-container {
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.infogram-embed {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%!important;
    aspect-ratio: 1 / 1;
}

.infogram-embed iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%!important;
    aspect-ratio: 1 / 1;
}

/*-----===| RESPONSIVIDADE |===-----*/
/*---=| BanneBanner |=---*/
@media (max-width: 1200px) {
    .main-banner-container {
        height: 75vh;
    }

    .banner-text-title {
        width: 100%;
        font-size: 48px;
    }

    .btn-contact-container{
        transform: translateX(-100%);
    }

    .btn-contact {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .main-banner-container {
        height: 50vh;
    }

    .banner-text-title {
        width: 80%;
        font-size: 32px;
    }

    .btn-contact-container{
        transform: translateX(-80%);
    }

    .btn-contact {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .banner-text-title {
        width: 100%;
        font-size: 24px;
    }
}