* {
    margin: 0;
    padding: 0;

    /*---=| Fonte Padrão |=---*/
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}

/*-----===| ROOT |===-----*/
:root {
    /*---=| Variáveis |=---*/
    --azul-super-claro: rgb(184, 227, 255);
    --azul-claro: rgb(92, 159, 204);
    --azul-medio: rgb(66, 91, 146);
    --aqua-medio: rgb(0, 218, 218);
    --sombrear: rgba(0, 0, 0, 0.5);
    --clarear: rgba(255, 255, 255, 0.5);
    --clarear-gradiente: linear-gradient(90deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.5));
    --azul-claro-gradiente: linear-gradient(90deg, transparent, var(--azul-super-claro));
}

/*-----===| HEADER |===-----*/
/*---=| DISPLAY FLEX |=---*/
header {
    width: 100%;
    background: var(--clarear-gradiente);
    position: fixed;
    z-index: 999;
}

/*---=| Left Header |=---*/
.left-header {
    margin-left: 5%;
}

/*-| Logo Name |-*/
.logo-name-eco,
.logo-name-shield {
    font-size: 32px;
}

.logo-name-eco {
    color: var(--azul-claro);
}

/*---=| Right Header |=---*/
.right-header {
    margin-right: 5%;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

/*-----===| EFEITOS |===-----*/
/*---=| Hover |=---*/
.nav-link:hover {
    color: var(--azul-claro);
}

/*-----===| RESPONSIVIDADE |===-----*/
/*---=| HEADER |=---*/
@media (max-width: 767px) {
    .left-header {
        margin-left: 0;
    }

    .right-header {
        margin-right: 0;
    }
}

.blue-text {
    color: var(--azul-claro);
}

a {
    color: var(--azul-claro);
}