*{margin: 0; padding: 0;}

/*-----===| GOOGLE FONTS |===----*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*-----===| ROOT |===-----*/
:root{
    /*---=| Variáveis |=---*/
    --azul-medio: rgb(66, 91, 146);
    --sombrear: rgba(0, 0, 0, 0.5);
    --clarear: rgba(255, 255, 255, 0.5);

    /*---=| Fonte Padrão |=---*/
    font-family: "Lato", sans-serif ;
    font-weight: 700;
    font-style: bold;
}

/*-----===| HEADER |===-----*/
/*---=| DISPLAY FLEX |=---*/
header{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    min-height: 80px;
    height: 5vh;
    width: 100%;
    background-color: var(--clarear);
    position: fixed;
    justify-content: space-between;
}

/*---=| Left Header |=---*/
/*---=| Right Header |=---*/
.nav-pills{
    margin-right: 5%;
}

.nav-link{
    color: black;
    text-decoration: none;
}