*{margin: 0; padding: 0;}

/*-----===| GOOGLE FONTS |===----*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*-----===| ROOT |===-----*/
:root{
    /*---=| Variáveis |=---*/
    --azul-medio: rgb(66, 91, 146);
    --sombra: rgba(0, 0, 0, 0.300);

    /*---=| Fonte Padrão |=---*/
    font-family: "Outfit", sans-serif ;
    font-weight: 600;
}

/*-----===| HEADER |===-----*/
/*---=| DISPLAY FLEX |=---*/
header, main, .logo-container, .menu, .menu-list-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    height: 10vh;
    width: 100%;
    background-color: var(--sombra);
    position: fixed;
    justify-content: space-between;
}

/*---=| Left Header |=---*/
.logo-container{
    height: 100%;
    width: 20%;
}

/*---=| Right Header |=---*/
.menu{
    height: 100%;
    width: 80%;
    color: white;
}

.menu-list-container{
    height: 100%;
    width: 100%;
    list-style: none;
    justify-content: flex-start;
}

/*-----===| MAIN |===-----*/
main{
    min-height: 150vh;
    width: 100%;
    background-color: var(--azul-medio);
}